{
	email admin@example.com
}

kit-status-visualizer2.digital-universe.xyz {
	reverse_proxy 192.168.50.111:8080
}

# Example second service:
# service2.example.com {
#     reverse_proxy 192.168.50.102:8080
# }
